<div class="anti-th">
  <h1 class="mar-left-64 mar-top-48">Applications</h1>
  <div class="pad-left-64 mar-top-48 flex-start w-100 pad-right-128 pad-bot-64">
    <div class="white-box pad-top-bot-16 h-100">
      <form class="example-form pad-left-right-16">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Search..." type="tel" [(ngModel)]="searchCriteria" [ngModelOptions]="{standalone: true}" (change)="filterApplicationNameList()">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </form>
      <div (click)="loadApplicationData(applicationName)"
           *ngFor="let applicationName of displayedApps" class="process-box">
        <div class="txt-16">
          {{applicationName}}
        </div>
      </div>
    </div>
    <div class="mar-left-64 w-100">
      <div>
        <select (change)="reloadApplicationDataOnTimesSelectionChange()" [(ngModel)]="selectedTime"
                class="dropdown-btn mar-bot-24" (ngModelChange)="setData()">
          <option *ngFor="let timeElement of times" [ngValue]="timeElement">{{timeElement.time}}</option>
        </select>
      </div>
      <div *ngIf="isApplicationSelected" class="space-base mar-top-16">
        <div class="flex-center">
          <h2>{{selectedApplication.application_name}}</h2>
          <div class="flex-center">
            <mat-icon class="info-icon mar-left-12 icon-hov">info_outline</mat-icon>
            <div class="white-box hidden">
              <span class="txt-22">Details</span>
              <div class="align-general">
                <div class="align-txt">
                  <span class="txt-16 nowrap">Proccess ID</span>
                  <span class="txt-16 nowrap">Path</span>
                  <span class="txt-16 nowrap">Working Directory</span>
                  <span class="txt-16 nowrap">Command Line</span>
                  <span class="txt-16 nowrap">User</span>
                  <span class="txt-16 nowrap">Bitness</span>
                </div>
                <div class="align-txt mar-left-24">
                  <span class="txt-16 nowrap">{{selectedApplication.info.process_id}}</span>
                  <span class="txt-16 nowrap">{{selectedApplication.info.path}}</span>
                  <span class="txt-16 nowrap">{{selectedApplication.info.major_faults}}</span>
                  <span class="txt-16 nowrap">{{selectedApplication.info.command_line}}</span>
                  <span class="txt-16 nowrap">{{selectedApplication.info.windows_user_name}}</span>
                  <span class="txt-16 nowrap">{{selectedApplication.info.bitness}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <span class="txt-16">running for: {{formatUpTime(selectedApplication.run_time_in_seconds.total_running_time_seconds)}}</span>
        </div>
      </div>
      <div *ngIf="isApplicationSelected" class="grey-box cpu-ram-container w-100 mar-top-24">
        <div class="w-100 first">
          <div class="space-base">
            <div>
              <span class="txt-22">CPU</span>
            </div>
            <div>
              <span class="txt-22">{{roundDecimalNumber(selectedApplication.cpu_statistic_data.average*100, 2)}}%</span>
            </div>
          </div>
          <div class="chart-container mar-top-16">
            <canvas class="white-bg w-100" id="usageCPU"></canvas>
          </div>
        </div>
        <div class="w-100 second">
          <div class="space-base">
            <div>
              <span class="txt-22">RAM</span>
            </div>
            <div>
              <span class="txt-22">{{roundDecimalNumber(convertBytesToMegaBytes(selectedApplication.ram_statistic_data.average), 2)}}
                MB</span>
            </div>
          </div>
          <div class="chart-container mar-top-16">
            <canvas class="white-bg w-100" id="usageRAM"></canvas>
          </div>
        </div>
      </div>
      <div *ngIf="isApplicationSelected" class="align-general mar-top-32 wrapper">
        <div class="first">
          <h2 class="mar-bot-24">General</h2>
          <div class="grey-box">
            <div class="align-general space-center">
              <div class="align-txt">
                <span class="txt-16">State</span>
                <span class="txt-16">Major Faults</span>
                <span class="txt-16">Context Switches</span>
                <span class="txt-16">Threads</span>
                <span class="txt-16">Open Files</span>
              </div>
              <div class="align-txt mar-left-24">
                <span class="txt-16 nowrap text-right">{{selectedApplication.info.state}}</span>
                <span class="txt-16 nowrap text-right">{{selectedApplication.info.major_faults}}</span>
                <span class="txt-16 nowrap text-right">{{selectedApplication.info.context_switches}}</span>
                <span class="txt-16 nowrap text-right">{{selectedApplication.info.threads}}</span>
                <span class="txt-16 nowrap text-right">{{selectedApplication.info.open_files}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="second">
          <h2 class="mar-bot-24">Statistics</h2>
          <div class="grey-box align-general">
            <div class="align-txt">
              <span *ngFor="let stat of statistics; let last = last"
                    class="txt-16">{{stat}}</span>
            </div>
          </div>
        </div>
      </div>
      <div [ngClass]="{'w-100': !isApplicationSelected, 'mar-top-32 w-100': isApplicationSelected}">
        <app-alerts [alerts]="alerts"></app-alerts>
      </div>
    </div>
  </div>
</div>
