@import "../../styles.scss";
@import "bootstrap";

.grey-box {
  background-color: $light-grey-2;
  border: none;
  border-radius: 5px;
  padding: 20px 24px;
  .title {
    font-family: $font-family;
    font-size: 22px;
    color: $off-black;
    width: fit-content;
  }
  .line {
    height: 1px;
    width: 100%;
    margin-left: 24px;
    border: solid $dark-grey-1 1px;
  }
}
