<div class="anti-th">
  <h1 class="mar-left-64 mar-top-48">Alerts</h1>
  <div class="pad-left-64 mar-top-48 flex-start w-100 pad-right-128 pad-bot-64">
    <div class="white-box pad-top-bot-16 h-100">
      <form class="example-form pad-left-right-16">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Search..." type="tel" [(ngModel)]="searchCriteria" [ngModelOptions]="{standalone: true}">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </form>
      <div class="choose-alert txt-16" *ngFor="let userAlert of userAlerts">
          <div (click)="selectUserAlert(userAlert)" >{{userAlert.type}}</div>
      </div>
    </div>
    <div class="mar-left-64 w-100">
      <div *ngIf="true" class="grey-box">
        <div class="flex-col">
          <div class="flex-center mar-bot-24 w-100">
            <div class="flex-center mar-right-32">
              <mat-icon class="icon-48">warning</mat-icon>
            </div>
            <div class="w-100">
              <input [(ngModel)]="selectedUserAlert.type" type="text" class="w-100" placeholder="Alert name">
            </div>
          </div>
          <div class="flex-col mar-bot-12">
            <span class="txt-16">Message</span>
            <input [(ngModel)]="selectedUserAlert.message">
          </div>
          <div class="flex-row mar-bot-24">
            <span class="txt-16 mar-right-24">Severity Level</span>
            <select [(ngModel)]="selectedUserAlert.severity_level">
              <option *ngFor="let value of [1, 2, 3, 4, 5]" [ngValue]="value">{{value}}</option>
            </select>
          </div>
          <div class="flex-row mar-bot-24">
            <span class="txt-16 mar-right-24 label">Column:</span>
            <select [(ngModel)]="selectedUserAlert.conditions[0].column">
              <option *ngFor="let column of columns" [ngValue]="column">{{column}}</option>
            </select>
          </div>
          <div class="flex-row mar-bot-24">
            <span class="txt-16 mar-right-24 label">Application:</span>
            <select [(ngModel)]="selectedUserAlert.conditions[0].application">
              <option *ngFor="let application of applications" [ngValue]="application">{{application}}</option>
            </select>
          </div>
          <div class="flex-center mar-bot-24">
            <span class="txt-16 mar-right-24 label">Percentual Value:</span>
            <input class="input" [(ngModel)]="selectedUserAlert.conditions[0].percentage_trigger_value" type="number">
          </div>
          <div class="flex-center mar-bot-24">
            <span class="txt-16 mar-right-24 label">Absolute Value:</span>
            <input class="input" [(ngModel)]="selectedUserAlert.conditions[0].absolute_trigger_value" type="number">
          </div>
          <div class="flex-center mar-bot-24">
            <span class="txt-16 mar-right-24 label">Operator:</span>
            <select [(ngModel)]="selectedUserAlert.conditions[0].operator">
              <option *ngFor="let op of operator" [ngValue]="op">{{op}}</option>
            </select>
          </div>
          <div class="flex-center mar-bot-24">
            <span class="txt-16 mar-right-24 label">Detection by:</span>
            <select [(ngModel)]="detection_selected">
              <option *ngFor="let det of detection" [ngValue]="det">{{det}}</option>
            </select>
          </div>
          <div class="jus-end w-100">
            <button *ngIf="selected_from_database==true" (click)="deleteUserAlert()" class="default-btn mar-right-32">Delete</button>
            <button (click)="discardSelection()" class="default-btn mar-right-32">Discard</button>
            <button (click)="postUserAlert()"class="default-btn">  {{ selected_from_database ? 'Update' : 'Save' }}</button>
          </div>
          <div class="flex-center mar-bot-24" style="color: red" *ngIf="error_occured">Error ocurred</div>
        </div>
      </div>
    </div>
  </div>
</div>
