<router-outlet></router-outlet>
<div class="toolbar">

  <div class="div-32 mar-top-32" routerLink="overview">
    <mat-icon class="icon-32 icon">home</mat-icon>
  </div>
  <div class="div-32 mar-top-32" routerLink="processes">
    <mat-icon class="icon-32 icon">timeline</mat-icon>
  </div>
  <div class="div-32 mar-top-32" routerLink="cpu">
    <mat-icon class="icon-32 icon">memory</mat-icon>
  </div>
  <div class="div-32 mar-top-32" routerLink="ram">
    <mat-icon class="icon-32 icon">sd_card</mat-icon>
  </div>
  <div class="div-32 mar-top-32" routerLink="disk">
    <mat-icon class="icon-32 icon">storage</mat-icon>
  </div>
  <div class="div-32 mar-top-32" routerLink="network">
    <mat-icon class="icon-32 icon">language</mat-icon>
  </div>
  <div class="div-32 mar-top-32" routerLink="alerts">
    <mat-icon class="icon-32 icon">warning</mat-icon>
  </div>
  <div class="div-32 mar-top-32" routerLink="pc_selection">
    <mat-icon class="icon-32 icon">computer</mat-icon>
  </div>
</div>
