<router-outlet></router-outlet>
<div class="anti-th">
  <div class="mar-left-64 mar-top-48">
    <h1>Disk</h1>
  </div>
  <h2 class="mar-left-64 mar-top-32">Usage</h2>
  <div class="pad-right-128 pad-left-64 mar-top-32 w-100">
    <div class="grey-box w-100 wrap-chart-stats">
      <div class="mar-bot-24">
        <select [(ngModel)]="selectedTime" class="dropdown-btn mar-bot-24" (ngModelChange)="loadPCData()">
          <option *ngFor="let elem of times" [ngValue]="elem">{{elem.time}}</option>
        </select>
        <div>
          <canvas class="white-bg w-100" id="disk"></canvas>
        </div>
        <div class="flex-center mar-top-12">
          <div class="form-check">
            <input type="checkbox" [(ngModel)]="isShowPredictionsChecked" (change)="reloadChart()" class="form-check-input">
            <span class="txt-16">Show Predictions</span>
          </div>
        </div>
      </div>
      <div class="stats">
        <h3 class="mar-bot-24">Statistics ({{selectedTime.time}})</h3>
        <div class="white-bg">
          <div class="align-general nowrap">
            <div class="align-txt">
              <span class="txt-16">Total Disk Space</span>
              <span class="txt-16">Free Disk Space</span>
            </div>
            <div class="align-txt mar-left-32">
              <span class="txt-16">{{diskTotal}} GB</span>
              <span class="txt-16">{{diskFree}} GB</span>
            </div>
          </div>
          <mat-divider class="mar-top-12 w-100"></mat-divider>
          <!--
          <div class="boxes mar-top-12">
            <div class="white-box txt-16">Current
              <div class="value">
                {{disk.current}}25%
              </div>
            </div>
            <div class="white-box txt-16 mar-left-12">
              Average
              <div class="value">
                {{disk.average}} 20.03%
              </div>
            </div>
            <div class="white-box txt-16 mar-left-12">Stability
              <div class="value">
                {{disk.stability}} High
              </div>
            </div>
          </div>
          -->
          <div class="align-notes mar-top-16">
            <span *ngFor="let stat of statistics" class="txt-16 mar-bot-5">{{stat}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pad-left-64 pad-right-128 mar-top-32">
    <app-alerts [alerts]="alerts"></app-alerts>
  </div>
  <div class="pad-bot-64 pad-left-64 pad-right-128 mar-top-32 w-100">
    <h2 class="mar-bot-24">Disk Stores</h2>
    <div class="grey-box">
      <table class="table">
        <thead class="bold">
        <tr>
          <td class="cell txt-16">Serial Number</td>
          <td class="cell txt-16">Name</td>
          <td class="cell txt-16">Model</td>
          <td class="cell txt-16">Size</td>
          <td class="cell txt-16">Partitions</td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let diskStore of diskInfo.disks; let i = index">
          <td class="cell txt-16">{{diskStore.serialnumber}}</td>
          <td class="cell txt-16">{{diskStore.name}}</td>
          <td class="cell txt-16">{{diskStore.model}}</td>
          <td class="cell txt-16">{{roundDecimalNumber(convertBytesToGigaBytes(diskStore.size), 3)}} GB</td>
          <td (click)="openDialog(i)" class="cell txt-16">
            <span class="link">See Partitions</span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
