@import "bootstrap";
@import "../../styles.scss";

.white-bg {
  background-color: $white;
  padding: 16px;

  .align-notes {
    display: flex;
    flex-direction: column;
  }
}


.align-general {
  display: flex;
  flex-direction: row;

  .align-txt {
    display: flex;
    flex-direction: column;
  }
}

.position-boxes {
  display: flex;
  flex-direction: row;
}

.cell {
  border-collapse: collapse;
  border: 1px solid $dark-grey-2;
  padding: 5px 10px;
}

.table {
  border-collapse: collapse;
  border-style: hidden;
  margin: 0;
}

.wrap-chart-stats {
  display: flex;
  flex-direction: column;
  .stats {
    width: fit-content;
  }
}
@include media-breakpoint-down(xxl) {
  .wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    .first {
      flex: 0;
      margin: 0 0 32px 0;
      width: 100%;
    }
    .second {
      flex: 0;
      width: 100%;
    }
  }
};



