@import "bootstrap";
@import "../../styles.scss";

.white-bg {
  background-color: $white;
  padding: 16px;

  .align-notes {
    display: flex;
    flex-direction: column;
  }
}


.align-general {
  display: flex;
  flex-direction: row;

  .align-txt {
    display: flex;
    flex-direction: column;
  }
}

.position-boxes {
  display: flex;
  flex-direction: row;
}

.cell {
  border-collapse: collapse;
  border: 1px solid $dark-grey-2;
  padding: 5px 10px;
}

.table {
  border-collapse: collapse;
  border-style: hidden;
  margin: 0;
}

.part-link {
  text-decoration: underline;
  text-decoration-color: $dark-grey-2;
}

.part-link:hover {
  color: $grey;
  text-decoration-color: $grey;
}
/*.wrapper {
  display: flex;
  flex-direction: row;
  //width: calc(100% - 96px);
  justify-content: flex-end;
  .wrap-select {
    display: flex;
    flex-direction: column;
    //flex: 0 0 60%;
    margin: 0 96px 0 0;
    width: 100%;
  }
  .stats {
    //width: fit-content !important;
    //flex: 0 0 40%;
  }
}
.chart {
  min-height: 400px;
  height: 100%;
  //max-height: 500px;
  width: auto !important;
}*/
.wrap-chart-stats {
  display: flex;
  flex-direction: column;
  .stats {
    width: fit-content;
  }
}
/*.wrap-select {
  display: flex;
  flex-direction: column;
  //flex: 0 0 60%;
  margin: 0 96px 0 0;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: calc(100% - 96px);
  .first {
    flex: 0 0 50%;
    margin: 0 96px 0 0;
    width: 100%;
  }
  .second {
    flex: 0 0 50%;
    width: 100%;
  }
}*/
@include media-breakpoint-down(xxl) {
  .wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    .first {
      flex: 0;
      margin: 0 0 32px 0;
      width: 100%;
    }
    .second {
      flex: 0;
      width: 100%;
    }
  }
};



