<router-outlet></router-outlet>
<div class="anti-th">
  <div class="mar-left-64 mar-top-48">
    <h1>RAM</h1>
  </div>
  <h2 class="mar-left-64 mar-top-32">Usage</h2>
  <div class="pad-right-128 pad-left-64 mar-top-32 w-100">
    <div class="grey-box wrap-chart-stats w-100">
      <div class="mar-right-96">
        <select [(ngModel)]="selectedTime" class="dropdown-btn mar-bot-24">
          <option *ngFor="let elem of times" [ngValue]="elem">{{elem.time}}</option>
        </select>
        <canvas class="white-bg w-100" id="ram"></canvas>
        <div class="flex-center mar-top-12">
          <div class="form-check">
            <input class="form-check-input" id="events" type="checkbox" value="">
            <span class="txt-16">Show Events</span>
          </div>
          <div class="form-check mar-left-12">
            <input checked class="form-check-input" id="anomalies" type="checkbox" value="">
            <span class="txt-16">Show Anomalies</span>
          </div>
        </div>
      </div>
      <div class="stats mar-top-24">
        <h3 class="mar-bot-24">Statistics ({{selectedTime.time}})</h3>
        <div class="white-bg">
          <div class="align-general">
            <div class="align-txt">
              <span class="txt-16">Total Memory</span>
              <span class="txt-16">Free Memory</span>
              <span class="txt-16">Page Size</span>
            </div>
            <div class="align-txt mar-left-32">
              <span class="txt-16">{{ram.totalMemory}}</span>
              <span class="txt-16">{{ram.freeMemory}}</span>
              <span class="txt-16">{{ram.pageSize}}</span>
            </div>
          </div>

          <div class="boxes mar-top-12">
            <div class="white-box txt-16">
              <span class="jus-center">
                Current
              </span>
              <div class="value">
                {{ram.current}}%
              </div>
            </div>
            <div class="white-box txt-16 sec">
               <span class="jus-center">
                Average
              </span>
              <div class="value">
                {{ram.average}}%
              </div>
            </div>
            <div class="white-box txt-16">
              <span class="jus-center">
                Stability
              </span>
              <div class="value">
                {{ram.stability}}
              </div>
            </div>
          </div>
          <div class="align-notes mar-top-16">
            <span *ngFor="let stat of ram.stats" class="txt-16 mar-bot-5">{{stat}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="pad-bot-64 pad-left-64 pad-right-128 align-general mar-top-32" [ngClass]="{'show-all-true': showAllProcesses, 'wrapper': !showAllProcesses}">
    <div [ngClass]="{'first-all': showAllProcesses, 'first': !showAllProcesses}">
      <div>
        <app-alerts [alerts]="ram.alerts"></app-alerts>
      </div>
    </div>

    <div [ngClass]="{'second-all': showAllProcesses, 'second': !showAllProcesses}">
      <h2 class="mar-bot-24">Processes</h2>
      <div class="grey-box">
        <div class="processes">
          <span class="txt-16 bold mar-bot-12">Name</span>
          <span class="txt-16 bold mar-bot-12 nowrap">CPU Allocation</span>
        </div>
        <div class="processes" *ngFor="let process of ram.processes; let last = last">
          <span class="txt-16 nowrap mar-bot-5">{{process.name}}</span>
          <span [ngClass]="{'mar-bot-5': !last}"
                class="txt-16 mar-bot-5 text-right">{{process.allocation}}%</span>
        </div>
        <span class="link" (click)="showAll()" *ngIf="!showAllProcesses">Show All</span>
        <span class="link" (click)="showAll()" *ngIf="showAllProcesses">Show Less</span>
      </div>
    </div>
  </div>
</div>
