<router-outlet></router-outlet>
<div class="anti-th">
  <c-alert *ngIf="showPcIdAlert" color="danger" class="mar-left-64 mar-top-24 mar-right-128">
    <div>No PC is selected. Please select one here: <a cAlertLink [routerLink]="['/pc_selection']">PC Selection</a></div>
  </c-alert>
  <div class="mar-left-64 mar-top-48">
    <h1>RAM</h1>
  </div>
  <h2 class="mar-left-64 mar-top-32">Usage</h2>
  <div class="pad-right-128 pad-left-64 mar-top-32 w-100">
    <div class="grey-box wrap-chart-stats w-100">
      <div class="mar-right-96">
        <select [(ngModel)]="selectedTime" class="dropdown-btn mar-right-12 mar-bot-24" (change)="loadData()">
          <option *ngFor="let elem of times" [ngValue]="elem">{{elem.time}}</option>
        </select>
        <select [(ngModel)]="selectedBucketingTime" (change)="loadData()" class="dropdown-btn mar-bot-24">
          <option *ngFor="let bucketingTime of bucketingTimes" [ngValue]="bucketingTime">{{bucketingTime.value}}</option>
        </select>
        <canvas class="white-bg w-100" id="ram"></canvas>
        <div class="flex-center mar-top-12">
          <mat-radio-group
            aria-labelledby="example-radio-group-label"
            class="example-radio-group"
            [(ngModel)]="checked" (change)="reloadChart()">
            <mat-radio-button class="example-radio-button" *ngFor="let option of radioOptions" [value]="option">
              {{option}}
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="stats mar-top-24">
        <h3 class="mar-bot-24">Statistics ({{selectedTime.time}})</h3>
        <div class="white-bg">
          <div class="align-general">
            <div class="align-txt w-100">
              <span class="txt-16">Total Memory</span>
              <span class="txt-16">Free Memory</span>
              <span class="txt-16">Page Size</span>
            </div>
            <div class="align-txt mar-left-32 w-100">
              <span class="txt-16 text-right">{{ramStats.total}} GB</span>
              <span class="txt-16 text-right">{{ramStats.free}} GB</span>
              <span class="txt-16 text-right">{{ramStats.page}} Byte</span>
            </div>
          </div>

          <div class="boxes mar-top-12">
            <div class="white-box txt-16">
              <span class="jus-center">
                Current
              </span>
              <div class="value">
                {{ramStats.cur}}%
              </div>
            </div>
            <div class="white-box txt-16 sec">
               <span class="jus-center">
                Average
              </span>
              <div class="value">
                {{ramStats.avg}}%
              </div>
            </div>
            <div class="white-box txt-16">
              <span class="jus-center">
                Stability
              </span>
              <div class="value">
                {{ramStats.stability}}
              </div>
            </div>
          </div>
          <div class="align-notes mar-top-16">
            <span *ngFor="let stat of ram.statistic_data.message.split('\n')" class="txt-16 mar-bot-5">{{stat}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="pad-bot-64 pad-left-64 pad-right-128 align-general mar-top-32" [ngClass]="{'show-all-true': showAllProcesses, 'wrapper': !showAllProcesses}">
    <div [ngClass]="{'first-all': showAllProcesses, 'first': !showAllProcesses}" *ngIf="alerts.length>0">
      <div *ngIf="alerts.length>0">
        <app-alerts [alerts]="alerts"></app-alerts>
      </div>
    </div>

    <div [ngClass]="{'second-all': showAllProcesses, 'second': !showAllProcesses}">
      <h2 class="mar-bot-24">Processes</h2>
      <div class="grey-box">
        <div class="processes">
          <span class="txt-16 bold mar-bot-12">Name</span>
          <span class="txt-16 bold mar-bot-12 nowrap">CPU Allocation</span>
        </div>
        <div class="processes" *ngFor="let process of displayedProcesses; let last = last">
          <span class="txt-16 nowrap mar-bot-5">{{process.name}}</span>
          <span *ngIf="process.allocation==0" class="txt-16 mar-bot-5 text-right">
              < 0.01%</span>
          <span *ngIf="process.allocation>0" class="txt-16 mar-bot-5 text-right">{{process.allocation}}%</span>
        </div>
        <span class="link" (click)="showAll()" *ngIf="!showAllProcesses">Show All</span>
        <span class="link" (click)="showAll()" *ngIf="showAllProcesses">Show Less</span>
      </div>
    </div>
  </div>
</div>
