<div class="anti-th">
  <h1 class="mar-left-64 mar-top-48">Network</h1>
  <div class="pad-left-64 pad-right-128 mar-top-32 w-100">
    <h2 class="mar-bot-24">Network Interfaces</h2>
    <div class="grey-box">
      <table class="table txt-16">
        <thead class="bold">
        <tr>
          <td class="cell">Display Name</td>
          <td class="cell">Name</td>
          <td class="cell">IPv4</td>
          <td class="cell">IPv6</td>
          <td class="cell">MAC Address</td>
          <td class="cell">Subnet Mask</td>
          <td class="cell">Bytes Received</td>
          <td class="cell">Bytes Sent</td>
          <td class="cell">Packets Received</td>
          <td class="cell">Packets Sent</td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let networkInterface of networkData.network_list">
          <td class="cell">{{networkInterface.display_name}}</td>
          <td class="cell">{{networkInterface.name}}</td>
          <td class="cell">{{networkInterface.ipv4_address}}</td>
          <td class="cell">{{networkInterface.ipv6_address}}</td>
          <td class="cell">{{networkInterface.mac_address}}</td>
          <td class="cell">{{networkInterface.subnet_mask}}</td>
          <td class="cell">{{networkInterface.bytes_received}}</td>
          <td class="cell">{{networkInterface.bytes_sent}}</td>
          <td class="cell">{{networkInterface.packets_received}}</td>
          <td class="cell">{{networkInterface.packets_sent}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="pad-left-64 pad-right-128 mar-top-32 w-100">
    <h2 class="mar-bot-24">Connections</h2>
    <div class="grey-box">
      <table class="table txt-16">
        <thead class="bold">
        <tr>
          <td class="cell">Local Address</td>
          <td class="cell">Local Port</td>
          <td class="cell">Foreign Address</td>
          <td class="cell">Foreign Port</td>
          <td class="cell">State</td>
          <td class="cell">Type</td>
          <td class="cell">Owning Process ID</td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let ipConnection of networkData.connection_list">
          <td class="cell">{{ipConnection.localaddress}}</td>
          <td class="cell">{{ipConnection.localport}}</td>
          <td class="cell">{{ipConnection.foreignaddress}}</td>
          <td class="cell">{{ipConnection.foreignport}}</td>
          <td class="cell">{{ipConnection.state}}</td>
          <td class="cell">{{ipConnection.type}}</td>
          <td class="cell">{{ipConnection.owningprocessid}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class=" pad-bot-64 pad-left-64 pad-right-128 mar-top-32 w-100">
    <div class="w-100">
      <h2 class="mar-bot-24">Alerts</h2>
      <div class="grey-box w-100">
        <div *ngFor="let alert of alerts; let last = last" [ngClass]="{'mar-bot-12': !last}"
             class="alert-box flex-center">
          <mat-icon class="icon-32 icon">warning</mat-icon>
          <span class="mar-left-32 txt-16">{{alert}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
