@import "bootstrap";
@import "../../styles.scss";

.white-bg {
  background-color: $white;
  padding: 16px;
}

.alignment {
  display: inline-flex;
  align-items: flex-start;
}

.icon-hov:hover + .hidden {
  display: block;
}

.hidden {
  display: none;
  position: absolute;
  transform: translate(48px, 136px);
  padding: 8px 16px;
}

.test {
  display: flex;
  flex-direction: row;
  width: calc(100% - 64px);
  .first {
    flex: 0 0 45%;
    width: 100%;
  }
  .second {
    flex: 0 0 25%;
    width: 100%;
  }
  .third {
    flex: 0 0 30%;
    width: 100%;
  }
}


@media (max-width: 1200px) {
  .test {
    display: flex;
    flex-direction: column;
    width: 100%;
    .first {
      margin: 0 0 24px 0;
    }
    .second {
      margin: 0 0 24px 0;
    }
    .third {
      margin: 0;
    }
  }
}

@media (max-width: 970px) {
  .hidden {
    transform: translate(-262px, 196px);
  }
}
