
<div class="anti-th">
  <h1 class="mar-left-64 mar-top-48">Overview</h1>
  <div class="mar-left-64 mar-top-32 mar-right-128 space-base">
    <div class="flex-center">
      <h2>{{client}}</h2>
      <mat-icon class="info-icon mar-left-12">info_outline</mat-icon>
    </div>
    <div>
      <span class="txt-16">running for: {{runtime}}</span>
    </div>
  </div>
  <div class="mar-left-64">
    <h3 class="mar-top-24 mar-bot-12">Resource Metrics</h3>
    <div class="grey-box">
        <canvas id="resMetrics" class="tmp"></canvas>
    </div>
  </div>
</div>
