@import "bootstrap";
@import "../../styles.scss";

.white-bg {
  background-color: $white;
  padding: 16px;
}

.alignment {
  display: inline-flex;
  align-items: flex-start;
}

.icon-hov:hover + .hidden {
  display: block;
}

.hidden {
  display: none;
  position: absolute;
  transform: translate(48px, 136px);
  padding: 8px 16px;
  width: max-content;
  .lower {
    white-space: normal;
  }
}

.test {
  display: flex;
  flex-direction: row;
  width: calc(100% - 64px);
  .first {
    flex: 0 0 45%;
    width: 100%;
  }
  .group {
    display: flex;
    flex-direction: row;
    flex: 0 0 55%;
    .second {
      flex: 0 0 50%;
      width: 100%;
    }
    .third {
      flex: 0 0 50%;
      width: 100%;
    }
  }
}

@include media-breakpoint-down(xxl) {
  .test {
    display: flex;
    flex-direction: column;
    width: 100%;
    .first {
      margin: 0 0 24px 0;
    }
    .group {
      width: calc(100% - 32px);
    }

  }
}


@include media-breakpoint-down(xl) {
  .hidden {
    transform: translate(-262px, 196px);
  }
}

@include media-breakpoint-down(lg) {
  .test .group {
    width: 100% !important;
    flex-direction: column;
    .second {
      margin: 0 0 24px 0;
    }
    .third {
      margin: 0;
    }
  }
}


@include media-breakpoint-down(sm) {
  .hidden {
    width: fit-content;
    transform: translate(-162px, 200px) !important;
    .lower {
      white-space: nowrap;
    }
  }
}


